# Theme Name: sprocket
# By: Cam Mendoza <mendoza.cam@gmail.com> 
# Platform: iPod Mini (138x110, 4 colour grayscale)
# License: CC-BY-SA 3.0
# Version: 1.0
# Last updated: 2013-04-05
# For a README and more information, please see the project page on GitHub:
# <https://github.com/gogi-goji/sprocket-rockbox-theme> 
#
# CFG file (.rockbox/theme/sprocket.cfg)
#
wps: /.rockbox/wps/sprocket.wps
sbs: /.rockbox/wps/sprocket.sbs
#fms: /.rockbox/wps/sprocket.fms  # Does the iPod Mini even support FM?
fms: - 
#
font: /.rockbox/fonts/14-Adobe-Helvetica-Bold.fnt
# Note: this font is not provided in a bare-bones Rockbox install, but can
# easily be found in the Rockbox Font Pack, found here: 
# <http://www.rockbox.org/download/byhand.cgi>
#
clear backdrop
#background color: FFFFFF
background color: 3
#foreground color: 000000
foreground color: 0
filetype colours: - 
iconset: - 
selector type: bar (inverse)
scrollbar: on
show icons: off
ui viewport: -
viewers iconset: -
#root menu order:wps,database,files,settings,playlists,system_menu
